############################################
# .gitignore
#############################################
node_modules
/dist

.vscode/*
!*.default
*.local

# rocketh
generated
deployments/localhost

# openzeppelin
src/openzeppelin

# hardhat
/coverage
/coverage.json
/coverage-data.json
cache
artifacts

docs
*.hbs

#############################################
deployments
package.json
pnpm-lock.yaml
