/* ------------------------------------------------- */
/* VARIABLES */
/* ------------------------------------------------- */

/* Colors */
:root {
	--color-surface-500: #171717;

	--color-scrollbar-thumb: #312901;
	--color-scrollbar-thumb-border: #302802;
	--color-scrollbar-track: #302e2e;

	--color-text-on-surface-500: #ffffff;

	--color-text-on-surface-400: #c4c4c4;

	--color-text-highlight-500: #ffd80b;

	--color-text-for-links: #ffd80b;

	--color-primary-500: #ffffff;
	--color-text-on-primary-500: #000000;
	--color-primary-hover: #ffd80b;

	--color-secondary-500: #000000;
	--color-text-on-secondary-500: #ffffff;
	--color-secondary-hover: #201f1f;

	--color-error-500: #d93526;
	--color-text-on-error-500: #1c0d06;
	--color-error-hover: #f5b7a8;

	--color-success-500: #398712;
	--color-text-on-success-500: #0b1305;
	--color-success-hiver: #62d926;
}

/* ------------------------------------------------- */
